.main {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 10rem;
}

.main > section {
  width: 100%;
  max-width: calc(1920px - 200px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20rem;
}
.comingSection {
  position: relative;
  display: flex;
  width: calc(100% - 40px);
  margin: 0 auto;
  justify-content: center;
}

.comingSection .mainTitle {
  position: absolute;
  z-index: -2;
}

.aboutMe_section .mainTitle {
  margin: 0;
}

.mainTitle {
  font-size: 10rem;
  text-transform: uppercase;
  margin: 0 auto;
  background: linear-gradient(45deg, #2d45e0, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.nav {
  position: fixed;
  z-index: 99;
  display: flex;
  gap: 1rem;
}

.navItem {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
  padding: 1rem 1rem;
  border-radius: 1.3rem;
}

.navItem a {
  padding: 0;
}
.bgWave {
  top: 0;
  transform: rotate(180deg);
  z-index: -4;
}
.aboutMe_section {
  max-width: 100%;
  width: calc(100% - 40px);
  padding-top: 10rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.aboutMe_box {
  display: flex;
  background: linear-gradient(90deg, #010626 33%, #2266af 100%);
  border-radius: 0.625rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom: 10rem;
}
.aboutMe_title {
  font-size: 24px;
}
.aboutMe_myName {
  font-size: 32px;
}
.aboutMe_title,
.aboutMe_myName {
  text-transform: uppercase;
  background: linear-gradient(45deg, #aeb8f4, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.aboutMe_figure {
  padding: 0;
  margin: 0;
  /* box-shadow: 0px 0px 3px 2px #2642ff; */
}
.aboutMe_img {
  border-radius: 0.625rem;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.aboutMe_card {
  padding: 1rem 3rem;
}
.aboutMe_paragraph {
  margin-top: 2rem;
  font-size: 18px;
  line-height: 160%;
  background: linear-gradient(45deg, #aeb8f4, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.contactMe {
  font-size: 18px;
  background: linear-gradient(45deg, #aeb8f4, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  margin-top: 4rem;
  gap: 1rem;
}
.contactMe a {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.navList {
  display: flex;
  gap: 1rem;
  border-radius: 1.3rem;
  background: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0px 0px 28px 0px rgba(45, 69, 224, 0.5);
  -moz-box-shadow: 0px 0px 28px 0px rgba(45, 69, 224, 0.5);
  box-shadow: 0px 0px 28px 0px rgba(45, 69, 224, 0.5);
}

.navItem {
  -webkit-text-fill-color: initial;
}

.projectsList {
  display: flex;
  margin: 0 auto;
  width: 100%;
  gap: 0.7rem;
  flex-wrap: wrap;
}

.projectsItem {
  width: calc(100% / 2 - 0.7rem);
  height: auto;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.444s ease-in;
  cursor: pointer;
  flex-direction: column;
  padding: 2rem 6rem;
  gap: 2rem;
}

.projectsItem a,
.projectsItem p {
  transition: 0.444s ease-in;
  text-align: justify;
}

.projectsItem:hover {
  border: 1px solid #18e2e6;
  color: #18e2e6;
}

.projectsItem:hover a:first-child {
  color: #18e2e6;
  text-align: center;
}

.projectsItem .projectsButton {
  padding: 1rem;
  border-radius: 1.3rem;
  font-weight: 700;
  font-size: 1.2rem;
  border: 1px solid #e2e8f0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none 0% 0% / auto repeat scroll padding-box border-box
    rgba(0, 0, 0, 0);
}

.projectsItem .projectsButton:hover {
  border-color: #18e2e6;
  color: #18e2e6;
}

.projectsItem .projectsButton:hover svg {
  transition: 0.444s all;
}

.projectsItem .projectsButton:hover svg {
  stroke: #18e2e6;
}

.projectsItemFigure {
  width: 100%;
}

.projectsItemFigure img {
  width: 100%;
}

.projectsItem a,
.projectsItem p {
  color: #e2e8f0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3em;
}

.projectsItem p {
  font-size: 1.3em;
  font-weight: 400;
  text-transform: none;
}

.menuMobile {
  display: none;
}

.contacts_card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contacts_card > p > a {
  text-decoration: underline;
  font-size: 1.3em;
}

.contacts_card > p {
  display: flex;
  flex-direction: column;
  font-size: 1.6em;
  color: #fff;
}

@media (max-width: 991px) {
  .contacts_card > p > a{
    font-size: 0.7em;
  }

  .contactMe {
    display: flex;
    flex-wrap: wrap;
  }

  .aboutMe_box {
    flex-direction: column;
  }

  .mainTitle {
    font-size: 3rem;
    text-align: center;
  }
  .comingPage_section {
    max-width: 100%;
    width: 100%;
  }
  .aboutMe_img {
    width: 100%;
    height: auto;
  }
  .aboutMe_myName {
    font-size: 1rem;
  }
  .navItem {
    width: 24rem;
  }
  .nav {
    left: 1rem;
    opacity: 0;
    max-width: 0;
    overflow: hidden;
    transition: 0.444s ease-in-out;
  }
  .nav > ul {
    max-width: 0;
    transition: 0.444s ease-in-out;
  }

  .open {
    opacity: 1;
    max-width: 24rem;
    top: 4rem !important;
    transition: 0.444s ease-in-out;
  }

  .open > ul {
    max-width: 100%;
    transition: 0.444s ease-in-out;
  }
  .navList {
    flex-direction: column;
  }
  .navItem {
    font-size: 1em;
  }
  .aboutMe_img {
    max-width: calc(100% - 4rem);
    margin: 0 auto;
  }
  .aboutMe_figure {
    display: flex;
    align-items: center;
  }
  .comingSection {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .bgWave {
    display: block;
    width: 500%;
    left: -73rem;
    overflow: hidden;
  }
  .aboutMe_section {
    padding-top: 18rem;
  }
  .projectsList {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    align-items: center;
  }
  .projectsItem {
    width: 90%;
    padding: 0.5rem 1rem;
  }
  .projectsItem a {
    font-size: 2em;
  }
  .projectsItem p {
    font-size: 1.6em;
  }
  .projectsItem a:first-child {
    text-align: center;
  }
  .projectsItem a {
    padding: 0 1rem;
  }
  .main > section {
    width: 100%;
    align-items: center;
  }
  .menuMobile {
    display: flex;
    position: fixed;
    left: 1.4rem;
    top: 1rem;
    z-index: 50;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 30%;
    cursor: pointer;
    opacity: 0.8;
  }
  .menuMobile * {
    pointer-events: none;
  }
}
